## Book Problems

4a)
![cluster](clusters.png)

4b) for K = 10 $$ 0.27$$
for K = 100 $$ 5.7x10^{-7} $$
for K = 1000 $$ 8.2x10^{-64}$$


7)the answer is b. More centroids should be allocated to the less dense region.


11a) If a variable's SSE is low for all clusters than that variable is pretty much similar for all clusters and it is useless in defining our clustering. 


11b) If the variable is low for one cluster than it is essential in creating that cluster. Because all the points are similar in that variable. 


11c) If it's high for all clusters than that means the variable is noise. It doesn't help in the definition of the clustering. 


11d) If it is high in one cluster than that variable doesn't define that cluster. In fact, it probably defines another clustering.  


11e) By knowing the per variable SSE you can see insight into your clustering and by identifying important variables you can cluster based on the SSE for those variables. You can also identify variables that you can eliminate that don't contribute to the clustering.

16)
![single](IMG-2832.JPG)
![complete](complete.jpg)


17ai) c1 = 18, C1 = {6, 12, 18, 24, 30}, c2 = 45, C2 = {42, 48} 

- SSE(C1) = $\sum_{x\in C_1} (c_1 - x)^2$ = 360

- SSE(C2) = $\sum_{y\in C_2} (c_2 - y)^2$ = 18

- total SSE = 378

17aii) c3 = 15, C3 = {6, 12, 18, 24}, c4 = 40, C4 = {30, 42, 48}

- SSE(C3) = $\sum_{x\in C_3} (c_3 - x)^2$ = 180

- SSE(C4) = $\sum_{x\in C_4} (c_4 - x)^2$ = 168

- total SSE = 348


17b) Yes the centroids are stable.


17c) C1 = {6,12,18,24,30} and C2 = {42,48}


17d) Single link produces the most natural clustering because it preserves the structure and makes sure that the closest points are connected together.


17e) this natural clustering is center-based.


17f) The K-Means algorithm has random intial centroids which leads to the above behaviour of producing different clusters. Also it isn't very good at finding clusters of different sizes. 


21)

**Entropy**

- entropy(C1) = 0.19999

- entropy(C2) = 1.84075

- entropy(C3) = 1.69641

- total entropy = 1.44311

**Purity**

- purity(C1) = 0.97547

- purity(C2) = 0.52945

- purity(C3) = 0.4899895

- Total purity = 0.61423
 



22a) There is a difference between the two sets, mainly that one will have uniform density while the other will have regions that are more dense and regions that are less dense.


22b) The randomly generated set will have lower SSE for K = 10. This is because if most or all clusters are focused on the dense regions than the overall SSE will be lower.


22c) Based on the user defined minpts and eps, DBSCAN will either put all point in one cluster for the uniform set or label everything as noise and eliminate it.

For the random one the DBSCAN will find a couple of clusters and based on how the density is distributed. 


23) silhoutte coefficient $= \frac{b - a}{max(a,b)}$

$$ SC(P1) = \frac{\frac{0.35 + 0.45}{2} - 0.2}{max(0.2,\frac{0.35+0.45}{2})}  =  \frac{0.4 - 0.2}{max(0.2,0.4)} = 0.5$$
$$ SC(P2) = \frac{\frac{0.3 + 0.4}{2} - 0.2}{max(0.2,\frac{0.3+0.4}{2})}  =  \frac{0.35 - 0.2}{max(0.2,0.35)} = 0.42857$$
$$ SC(P3) = \frac{\frac{0.35 + 0.3}{2} - 0.1}{max(0.1,\frac{0.35+0.3}{2})}  =  \frac{0.325 - 0.1}{max(0.1,0.325)} = 0.69231$$
$$ SC(P4) = \frac{\frac{0.45 + 0.4}{2} - 0.1}{max(0.1,\frac{0.45+0.4}{2})}  =  \frac{0.425 - 0.1}{max(0.1,0.425)} = 0.76471$$
$$ SC(C1) = \frac{0.5 + 0.42857}{2} = 0.46429 $$
$$ SC(C2) = \frac{0.69231 + 0.76471}{2} = 0.72851 $$
$$ SC(Avg Clustering) = \frac{0.46429 + 0.72851}{2} = 0.5964$$

## Practimum Problems

In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline


from sklearn.datasets import load_boston
from sklearn.datasets import load_wine
from sklearn.cluster import KMeans

from sklearn import preprocessing
from sklearn import metrics

from sklearn.cluster import AgglomerativeClustering as ac

#### Problem 1

Load *auto-mpg* dataset from the UCI Machine Learning Repository (auto-mpg.data) into **Python** using a Pandas dataframe. Using only the *continuous* fields as features, impute any missing values with the *mean*, and perform a Hierarchical Clustering (Use **sklearn.cluster.AgglomerativeClustering**) with **linkage** set to *average* and the default **affinity** set to a *euclidea*. Set the remaining parameters to obtain a shallow tree of depth 5 with 3 clusters as the target. Obtain the mean and variance values for each cluster, and compare these values to the values obtained for each class if we used *origin* as a class label. Is there a clear relationship between cluster assignment and class label?

#### Answer

There doesn't seem like there is any relationship between cluster assignment and class label. The mean and variance for the attributes varies greately between cluster assignment and class label. That being said there are some interesting facts that show up in the clustering data. First is that all the object of class 3 are mapped to cluster 0. The second is that cluster 1 only has the objects from class 1. The problem that we face with these two observations is that cluster 0 doesn't just contain class 3 so the homogenity is low and class 1 is spread across mutliple clusters and thus there is low completeness for class 1.

In [6]:
auto = pd.read_table("https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data",sep="\s+", header=None)
auto.columns=["mpg","cylinders", "displacement", "horsepower", "weight", "acceleration","model-year", "origin", "car-name"]

In [7]:
auto.describe()

,mpg,cylinders,displacement,weight,acceleration,model-year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [8]:
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin,car-name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [9]:
numerical = auto.drop(columns="car-name")
numerical.describe()

,mpg,cylinders,displacement,weight,acceleration,model-year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [10]:
numerical["horsepower"] = (numerical["horsepower"].replace(to_replace="?",value=np.nan)).astype(np.float64)
numerical.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [11]:
mean_imp = preprocessing.Imputer(strategy="mean", missing_values=np.nan)
mean = mean_imp.fit_transform(numerical.drop(columns=["mpg","cylinders","displacement",
                                                      "weight","acceleration","model-year","origin"]))
numerical["horsepower"] = mean
numerical.describe()

/home/mahmoud/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [12]:
numerical.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [13]:
clust = ac(linkage="average", n_clusters=3, compute_full_tree=False)
auto_cluster = clust.fit(numerical)
numerical["Clust label"] = auto_cluster.labels_
print(auto_cluster.labels_)

[2 2 2 2 2 1 1 1 1 2 2 2 2 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 2 2 0
 0 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 2 1 1 1 1 0 2 1
 1 1 0 0 0 0 0 0 0 0 0 1 2 2 1 2 1 1 1 1 1 1 2 0 0 0 0 0 0 1 1 1 1 0 0 0 0
 0 0 0 0 1 1 0 0 0 0 2 0 0 2 0 0 0 2 0 0 0 0 2 2 2 1 1 1 1 1 0 0 0 0 0 0 0
 0 0 0 0 0 2 2 0 1 1 1 1 2 2 2 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 1 2 1 0 2 0 0 0 0 0 0 2 2 2 0 0 0 0 0 0 2 0 0 2 1 1 2 2 0 0 0 0 0 2
 1 1 1 2 2 2 2 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 0 0 0 2 0 2
 0 2 2 2 2 0 1 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 2 2 2 2 2 1 1 2 2 0 0 0
 0 2 2 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 0 2 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [14]:
numerical.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin,Clust label
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864,0.502513
std,7.815984,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627,0.802055,0.770190
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000,0.000000
25%,17.500000,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000,1.000000,0.000000
50%,23.000000,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000,1.000000,0.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000,1.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000,2.000000

In [15]:
numerical["origin"].unique()

array([1, 3, 2])

In [16]:
class_origin = []
class_origin.append(numerical[numerical["origin"] == 1])
class_origin.append(numerical[numerical["origin"] == 2])
class_origin.append(numerical[numerical["origin"] == 3])
class_origin[0].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin,Clust label
count,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.000000,249.0,249.000000
mean,20.083534,6.248996,245.901606,118.814769,3361.931727,15.033735,75.610442,1.0,0.779116
std,6.402892,1.661425,98.501839,39.617323,794.792506,2.751112,3.677094,0.0,0.834854
min,9.000000,4.000000,85.000000,52.000000,1800.000000,8.000000,70.000000,1.0,0.000000
25%,15.000000,4.000000,151.000000,88.000000,2720.000000,13.000000,73.000000,1.0,0.000000
50%,18.500000,6.000000,250.000000,105.000000,3365.000000,15.000000,76.000000,1.0,1.000000
75%,24.000000,8.000000,318.000000,150.000000,4054.000000,16.900000,79.000000,1.0,2.000000
max,39.000000,8.000000,455.000000,230.000000,5140.000000,22.200000,82.000000,1.0,2.000000

In [17]:
clust = []
clust.append(numerical[numerical["Clust label"] == 0])
clust.append(numerical[numerical["Clust label"] == 1])
clust.append(numerical[numerical["Clust label"] == 2])
clust[0].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin,Clust label
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.0
mean,27.365414,4.443609,131.934211,84.300061,2459.511278,16.298120,76.751880,1.845865,0.0
std,6.478913,0.922781,53.179727,19.213107,427.354771,2.391296,3.760582,0.852699,0.0
min,13.000000,3.000000,68.000000,46.000000,1613.000000,10.000000,70.000000,1.000000,0.0
25%,22.075000,4.000000,97.000000,70.000000,2124.250000,14.550000,74.000000,1.000000,0.0
50%,26.900000,4.000000,119.000000,85.000000,2395.000000,16.000000,77.000000,2.000000,0.0
75%,32.000000,4.000000,149.750000,95.000000,2805.250000,17.600000,80.000000,3.000000,0.0
max,46.600000,8.000000,455.000000,225.000000,3302.000000,24.800000,82.000000,3.000000,0.0

In [18]:
clust[1].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin,Clust label
count,64.000000,64.0,64.000000,64.000000,64.000000,64.000000,64.000000,64.0,64.0
mean,13.889062,8.0,358.093750,167.046875,4398.593750,13.025000,73.375000,1.0,1.0
std,1.832781,0.0,46.240818,27.504937,272.602899,1.895106,2.446248,0.0,0.0
min,9.000000,8.0,260.000000,110.000000,4042.000000,8.500000,70.000000,1.0,1.0
25%,13.000000,8.0,318.000000,149.750000,4183.750000,12.000000,72.000000,1.0,1.0
50%,14.000000,8.0,350.000000,156.500000,4357.000000,13.000000,73.000000,1.0,1.0
75%,15.125000,8.0,400.000000,180.000000,4530.250000,14.000000,75.000000,1.0,1.0
max,17.500000,8.0,455.000000,230.000000,5140.000000,19.000000,79.000000,1.0,1.0

In [19]:
clust[2].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model-year,origin,Clust label
count,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.0
mean,17.510294,7.014706,278.985294,124.470588,3624.838235,15.105882,75.588235,1.044118,2.0
std,2.971513,1.029311,53.688847,26.703720,194.359999,3.249151,3.233386,0.206883,0.0
min,11.000000,5.000000,163.000000,72.000000,3329.000000,8.000000,70.000000,1.000000,2.0
25%,15.000000,6.000000,231.000000,105.000000,3435.250000,12.725000,73.000000,1.000000,2.0
50%,17.550000,8.000000,260.000000,120.000000,3616.500000,15.450000,76.000000,1.000000,2.0
75%,19.125000,8.000000,318.000000,150.000000,3782.000000,17.250000,78.000000,1.000000,2.0
max,26.600000,8.000000,400.000000,190.000000,3988.000000,22.200000,81.000000,2.000000,2.0

In [20]:
print("Origin 1 mean")
print(class_origin[0].mean())
print()
print("Origin 2 mean")
print(class_origin[1].mean())
print()
print("Origin 3 mean")
print(class_origin[2].mean())

Origin 1 mean
mpg               20.083534
cylinders          6.248996
displacement     245.901606
horsepower       118.814769
weight          3361.931727
acceleration      15.033735
model-year        75.610442
origin             1.000000
Clust label        0.779116
dtype: float64

Origin 2 mean
mpg               27.891429
cylinders          4.157143
displacement     109.142857
horsepower        81.241983
weight          2423.300000
acceleration      16.787143
model-year        75.814286
origin             2.000000
Clust label        0.085714
dtype: float64

Origin 3 mean
mpg               30.450633
cylinders          4.101266
displacement     102.708861
horsepower        79.835443
weight          2221.227848
acceleration      16.172152
model-year        77.443038
origin             3.000000
Clust label        0.000000
dtype: float64

In [22]:
print("Cluster 0 mean")
print(clust[0].mean())
print()
print("Cluster 1 mean")
print(clust[1].mean())
print()
print("Cluster 2 mean")
print(clust[2].mean())

Cluster 0 mean
mpg               27.365414
cylinders          4.443609
displacement     131.934211
horsepower        84.300061
weight          2459.511278
acceleration      16.298120
model-year        76.751880
origin             1.845865
Clust label        0.000000
dtype: float64

Cluster 1 mean
mpg               13.889062
cylinders          8.000000
displacement     358.093750
horsepower       167.046875
weight          4398.593750
acceleration      13.025000
model-year        73.375000
origin             1.000000
Clust label        1.000000
dtype: float64

Cluster 2 mean
mpg               17.510294
cylinders          7.014706
displacement     278.985294
horsepower       124.470588
weight          3624.838235
acceleration      15.105882
model-year        75.588235
origin             1.044118
Clust label        2.000000
dtype: float64

In [28]:
print("Difference mean 00")
m00 = class_origin[0].mean()-clust[0].mean()
print(m00)
print()
print("Difference mean 01")
m01 = class_origin[0].mean()-clust[1].mean()
print(m01)
print()
print("Difference mean 02")
m02 = class_origin[0].mean()-clust[2].mean()
print(m02)

Difference mean 00
mpg              -7.281879
cylinders         1.805387
displacement    113.967396
horsepower       34.514708
weight          902.420449
acceleration     -1.264385
model-year       -1.141438
origin           -0.845865
Clust label       0.779116
dtype: float64

Difference mean 01
mpg                6.194472
cylinders         -1.751004
displacement    -112.192144
horsepower       -48.232106
weight         -1036.662023
acceleration       2.008735
model-year         2.235442
origin             0.000000
Clust label       -0.220884
dtype: float64

Difference mean 02
mpg               2.573240
cylinders        -0.765710
displacement    -33.083688
horsepower       -5.655819
weight         -262.906508
acceleration     -0.072147
model-year        0.022206
origin           -0.044118
Clust label      -1.220884
dtype: float64

In [29]:
print("Difference mean 10")
m10 = class_origin[1].mean()-clust[0].mean()
print(m10)
print()
print("Difference mean 11")
m11 = class_origin[1].mean()-clust[1].mean()
print(m11)
print()
print("Difference mean 12")
m12 = class_origin[1].mean()-clust[2].mean()
print(m12)

Difference mean 10
mpg              0.526015
cylinders       -0.286466
displacement   -22.791353
horsepower      -3.058079
weight         -36.211278
acceleration     0.489023
model-year      -0.937594
origin           0.154135
Clust label      0.085714
dtype: float64

Difference mean 11
mpg               14.002366
cylinders         -3.842857
displacement    -248.950893
horsepower       -85.804892
weight         -1975.293750
acceleration       3.762143
model-year         2.439286
origin             1.000000
Clust label       -0.914286
dtype: float64

Difference mean 12
mpg               10.381134
cylinders         -2.857563
displacement    -169.842437
horsepower       -43.228606
weight         -1201.538235
acceleration       1.681261
model-year         0.226050
origin             0.955882
Clust label       -1.914286
dtype: float64

In [30]:
print("Difference mean 20")
m20 = class_origin[2].mean()-clust[0].mean()
print(m20)
print()
print("Difference mean 21")
m21 = class_origin[2].mean()-clust[1].mean()
print(m21)
print()
print("Difference mean 22")
m22 = class_origin[2].mean()-clust[2].mean()
print(m22)

Difference mean 20
mpg               3.085219
cylinders        -0.342343
displacement    -29.225350
horsepower       -4.464618
weight         -238.283430
acceleration     -0.125968
model-year        0.691158
origin            1.154135
Clust label       0.000000
dtype: float64

Difference mean 21
mpg               16.561570
cylinders         -3.898734
displacement    -255.384889
horsepower       -87.211432
weight         -2177.365902
acceleration       3.147152
model-year         4.068038
origin             2.000000
Clust label       -1.000000
dtype: float64

Difference mean 22
mpg               12.940339
cylinders         -2.913440
displacement    -176.276433
horsepower       -44.635145
weight         -1403.610387
acceleration       1.066270
model-year         1.854803
origin             1.955882
Clust label       -2.000000
dtype: float64

In [32]:
print("Cluster 0 variance")
print(clust[0].var())
print()
print("Cluster 1 variance")
print(clust[1].var())
print()
print("Cluster 2 variance")
print(clust[2].var())

Cluster 0 variance
mpg                 41.976309
cylinders            0.851525
displacement      2828.083391
horsepower         369.143491
weight          182632.099872
acceleration         5.718298
model-year          14.141978
origin               0.727096
Clust label          0.000000
dtype: float64

Cluster 1 variance
mpg                 3.359085
cylinders           0.000000
displacement     2138.213294
horsepower        756.521577
weight          74312.340278
acceleration        3.591429
model-year          5.984127
origin              0.000000
Clust label         0.000000
dtype: float64

Cluster 2 variance
mpg                 8.829892
cylinders           1.059482
displacement     2882.492318
horsepower        713.088674
weight          37775.809263
acceleration       10.556980
model-year         10.454785
origin              0.042801
Clust label         0.000000
dtype: float64

In [40]:
print("Origin 1 var")
print(class_origin[0].var())
print()
print("Origin 2 var")
print(class_origin[1].var())
print()
print("Origin 3 var")
print(class_origin[2].var())

Origin 1 var
mpg                 40.997026
cylinders            2.760332
displacement      9702.612255
horsepower        1569.532304
weight          631695.128385
acceleration         7.568615
model-year          13.521020
origin               0.000000
Clust label          0.696981
dtype: float64

Origin 2 var
mpg                 45.211230
cylinders            0.250311
displacement       509.950311
horsepower         410.659789
weight          240142.328986
acceleration         9.276209
model-year          12.037474
origin               0.000000
Clust label          0.166460
dtype: float64

Origin 3 var
mpg                 37.088685
cylinders            0.348588
displacement       535.465433
horsepower         317.523856
weight          102718.485881
acceleration         3.821779
model-year          13.326842
origin               0.000000
Clust label          0.000000
dtype: float64

In [40]:
print("Difference var 00")
m00 = class_origin[0].var()-clust[0].var()
print(m00)
print()
print("Difference var 01")
m01 = class_origin[0].var()-clust[1].var()
print(m01)
print()
print("Difference var 02")
m02 = class_origin[0].var()-clust[2].var()
print(m02)
print("Difference var 10")
m10 = class_origin[1].var()-clust[0].var()
print(m10)
print()
print("Difference var 11")
m11 = class_origin[1].var()-clust[1].var()
print(m11)
print()
print("Difference var 12")
m12 = class_origin[1].var()-clust[2].var()
print(m12)
print("Difference var 20")
m20 = class_origin[2].var()-clust[0].var()
print(m20)
print()
print("Difference var 21")
m21 = class_origin[2].var()-clust[1].var()
print(m21)
print()
print("Difference var 22")
m22 = class_origin[2].var()-clust[2].var()
print(m22)

Difference var 00
mpg                 -0.979283
cylinders            1.908807
displacement      6874.528864
horsepower        1200.388813
weight          449063.028512
acceleration         1.850317
model-year          -0.620958
origin              -0.727096
Clust label          0.696981
dtype: float64

Difference var 01
mpg                 37.637941
cylinders            2.760332
displacement      7564.398962
horsepower         813.010727
weight          557382.788107
acceleration         3.977187
model-year           7.536893
origin               0.000000
Clust label          0.696981
dtype: float64

Difference var 02
mpg                 32.167134
cylinders            1.700850
displacement      6820.119938
horsepower         856.443630
weight          593919.319122
acceleration        -2.988364
model-year           3.066235
origin              -0.042801
Clust label          0.696981
dtype: float64
Difference var 10
mpg                 3.234921
cylinders          -0.601214
displacement    -2318.133081
horsepower         41.516298
weight          57510.229113
acceleration        3.557911
model-year         -2.104503
origin             -0.727096
Clust label         0.166460
dtype: float64

Difference var 11
mpg                 41.852145
cylinders            0.250311
displacement     -1628.262983
horsepower        -345.861788
weight          165829.988708
acceleration         5.684781
model-year           6.053347
origin               0.000000
Clust label          0.166460
dtype: float64

Difference var 12
mpg                 36.381337
cylinders           -0.809171
displacement     -2372.542007
horsepower        -302.428885
weight          202366.519723
acceleration        -1.280771
model-year           1.582689
origin              -0.042801
Clust label          0.166460
dtype: float64
Difference var 20
mpg                -4.887623
cylinders          -0.502937
displacement    -2292.617958
horsepower        -51.619635
weight         -79913.613991
acceleration       -1.896520
model-year         -0.815136
origin             -0.727096
Clust label         0.000000
dtype: float64

Difference var 21
mpg                33.729601
cylinders           0.348588
displacement    -1602.747860
horsepower       -438.997721
weight          28406.145603
acceleration        0.230350
model-year          7.342715
origin              0.000000
Clust label         0.000000
dtype: float64

Difference var 22
mpg                28.258793
cylinders          -0.710894
displacement    -2347.026885
horsepower       -395.564818
weight          64942.676619
acceleration       -6.735201
model-year          2.872057
origin             -0.042801
Clust label         0.000000
dtype: float64

In [27]:
print("Average variance for cluster - class")
print((m0 + m1 + m2)/3)

Average variance for cluster - class
mpg                 23.043885
cylinders            0.482741
displacement       966.412999
horsepower         152.987402
weight          226611.897946
acceleration         0.266632
model-year           2.768149
origin              -0.256632
Clust label          0.287814
dtype: float64

#### Problem 2

Load the *Boston* dataset (**sklearn.datasets.load_boston()**) into **Python** using a Pandas dataframe. Perform a K-Means analysis on *scaled* data, with the number of clusters ranging from 2 to 6. Provide the *Silhouette* score to justify which value of k is optimal. Calculate the mean values for all features in each cluster for the optimal clustering - how do these values differ from the centroid coordinates?

#### Answer

The optimal clustering is for K = 2 with a silhouette score of 0.36012. The mean values for the two clusters are the centroid coordinates for each respective cluster. This is because the K-Means algorithm computes the centroid of the cluster by taking the mean of the data points. 

The mean calculations can be found in the last two cells related to this problems.

In [45]:
boston_ds = load_boston()
boston_df = pd.DataFrame(data=boston_ds.data, 
                        columns = boston_ds.feature_names)
boston_scaled = pd.DataFrame(data=preprocessing.scale(boston_ds.data),
                            columns= boston_ds.feature_names)

In [47]:
boston_df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [48]:
boston_scaled.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,-8.787437e-17,-6.343191e-16,-2.682911e-15,4.701992e-16,2.490322e-15,-1.145230e-14,-1.407855e-15,9.210902e-16,5.441409e-16,-8.868619e-16,-9.205636e-15,8.163101e-15,-3.370163e-16
std,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00
min,-4.197819e-01,-4.877224e-01,-1.557842e+00,-2.725986e-01,-1.465882e+00,-3.880249e+00,-2.335437e+00,-1.267069e+00,-9.828429e-01,-1.313990e+00,-2.707379e+00,-3.907193e+00,-1.531127e+00
25%,-4.109696e-01,-4.877224e-01,-8.676906e-01,-2.725986e-01,-9.130288e-01,-5.686303e-01,-8.374480e-01,-8.056878e-01,-6.379618e-01,-7.675760e-01,-4.880391e-01,2.050715e-01,-7.994200e-01
50%,-3.906665e-01,-4.877224e-01,-2.110985e-01,-2.725986e-01,-1.442174e-01,-1.084655e-01,3.173816e-01,-2.793234e-01,-5.230014e-01,-4.646726e-01,2.748590e-01,3.811865e-01,-1.812536e-01
75%,7.396560e-03,4.877224e-02,1.015999e+00,-2.725986e-01,5.986790e-01,4.827678e-01,9.067981e-01,6.623709e-01,1.661245e+00,1.530926e+00,8.065758e-01,4.336510e-01,6.030188e-01
max,9.933931e+00,3.804234e+00,2.422565e+00,3.668398e+00,2.732346e+00,3.555044e+00,1.117494e+00,3.960518e+00,1.661245e+00,1.798194e+00,1.638828e+00,4.410519e-01,3.548771e+00

In [51]:
means_2 = KMeans(n_clusters=2,
                init="k-means++")
means_3 = KMeans(n_clusters=3,
                init="k-means++")
means_4 = KMeans(n_clusters=4,
                init="k-means++")
means_5 = KMeans(n_clusters=5,
                init="k-means++")
means_6 = KMeans(n_clusters=6,
                init="k-means++")

In [54]:
clust_2 = means_2.fit_predict(boston_scaled)
clust_3 = means_3.fit_predict(boston_scaled)
clust_4 = means_4.fit_predict(boston_scaled)
clust_5 = means_5.fit_predict(boston_scaled)
clust_6 = means_6.fit_predict(boston_scaled)

In [68]:
print(clust_6)

[3 5 3 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 1 1 5 5 5 5 5 5 5 5 5 5 5 1 1 1 1 1 1 1 5 5 5 5 1 1 1 1 5 5 5 5 5 5 5
 5 5 5 5 5 5 1 5 5 5 5 5 5 5 3 3 5 5 5 5 5 5 5 3 3 3 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 0 4 4 4 4 4
 4 4 4 4 0 4 0 0 4 3 4 4 0 3 0 0 4 4 3 4 4 4 4 4 5 3 5 3 5 3 3 3 3 5 3 3 5
 5 3 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 5 5 5 0 0 0 0 0 5 5 5 0 3 0 0 0 0
 0 3 3 3 3 3 3 5 5 3 3 3 0 5 0 3 1 1 1 5 1 1 5 5 1 5 5 1 1 1 1 1 1 1 1 3 3
 3 3 3 3 3 3 3 3 3 3 0 5 5 5 0 0 1 0 0 1 3 3 3 0 1 1 1 1 1 1 1 1 1 1 5 5 5
 5 5 1 1 1 1 1 1 3 5 3 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 1 1
 5 5 5 5 5 5 5 5 1 5 1 1 5 5 1 1 1 1 1 1 1 1 1 0 0 0 2 2 2 2 0 0 2 2 2 2 0
 0 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 4 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5 5 5]

In [63]:
print(metrics.silhouette_score(boston_scaled,clust_2))

0.36011768587358606

In [64]:
print(metrics.silhouette_score(boston_scaled,clust_3))

0.2574894522739469

In [65]:
print(metrics.silhouette_score(boston_scaled,clust_4))

0.2809804562187518

In [66]:
print(metrics.silhouette_score(boston_scaled,clust_5))

0.24550272617953262

In [67]:
print(metrics.silhouette_score(boston_scaled,clust_6))

0.26843322103567574

In [71]:
boston_scaled["clust"] = clust_2
boston_scaled.describe()
boston_clust_1 = boston_scaled[boston_scaled["clust"] == 0]
boston_clust_2 = boston_scaled[boston_scaled["clust"] == 1]

In [72]:
boston_clust_1.mean()

CRIM       0.725146
ZN        -0.487722
INDUS      1.153113
CHAS      -0.005412
NOX        1.086769
RM        -0.452263
AGE        0.808760
DIS       -0.849865
RAD        1.085145
TAX        1.173731
PTRATIO    0.531248
B         -0.606793
LSTAT      0.829787
clust      0.000000
dtype: float64

In [73]:
boston_clust_2.mean()

CRIM      -0.390124
ZN         0.262392
INDUS     -0.620368
CHAS       0.002912
NOX       -0.584675
RM         0.243315
AGE       -0.435108
DIS        0.457222
RAD       -0.583801
TAX       -0.631460
PTRATIO   -0.285808
B          0.326451
LSTAT     -0.446421
clust      1.000000
dtype: float64

#### Problem 3

Load the *wine* dataset (**sklearn.datasets.load_wine()**) into **Python** using the Pandas dataframe. Perform a K-Means analysis on *scaled* data, with the number of clusters set to 3. Given the actual class labels, calculate the  *Homogeneity/Completeness* for the optimal k - what information do each of these metrics provide?

#### Answer

The homogeneity score tells us how well a cluster adheres to 1 class. The completeness score looks at how members of a class get assigned to certain clusters. The fact that both homogeneity and completeness are high shows that the clusters and classes overlap. The clustering finds objects in the same class very well. This shows that the K-Means clustering of 3-means is strongly related to the class label of the objects.

In [4]:
wine_set = load_wine()
wine_df = pd.DataFrame(data=preprocessing.scale(wine_set.data),
                      columns=wine_set.feature_names)
print(wine_set.DESCR)

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[http://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

In [5]:
wine_df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,1.518613,-0.562250,0.232053,-1.169593,1.913905,0.808997,1.034819,-0.659563,1.224884,0.251717,0.362177,1.847920,1.013009
1,0.246290,-0.499413,-0.827996,-2.490847,0.018145,0.568648,0.733629,-0.820719,-0.544721,-0.293321,0.406051,1.113449,0.965242
2,0.196879,0.021231,1.109334,-0.268738,0.088358,0.808997,1.215533,-0.498407,2.135968,0.269020,0.318304,0.788587,1.395148
3,1.691550,-0.346811,0.487926,-0.809251,0.930918,2.491446,1.466525,-0.981875,1.032155,1.186068,-0.427544,1.184071,2.334574
4,0.295700,0.227694,1.840403,0.451946,1.281985,0.808997,0.663351,0.226796,0.401404,-0.319276,0.362177,0.449601,-0.037874

In [7]:
#target_labels = pd.qcut(x=wine_set.target,q=3,duplicates='drop')
#class_labels =target_labels.astype('int32')
class_labels = wine_set.target
print(class_labels)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

In [9]:
clust_model = KMeans(n_clusters = 3,
                    init="k-means++")

In [10]:
clust_labels = clust_model.fit_predict(wine_df)
print(clust_labels)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 1 2 2 2 2 2 2 2 2 2 2 2 0
 2 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 1 2 2 0 2 2 2 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [12]:
h_score = metrics.homogeneity_score(class_labels,
                                    clust_labels)
c_score = metrics.completeness_score(class_labels,
                                     clust_labels)
print("homogeneity score", h_score, "completeness score", c_score)

homogeneity score 0.8788432003662368 completeness score 0.8729636016078732